---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-content">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
        <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}{% if post.author %}<span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</span>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
